* {
  box-sizing: border-box;
}

body {
  font-family: "robotoregular";
  font-size: 16px;
  background: #E5E5E5;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

/*Стили кнопок*/
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-decoration: none;

  &__small {
    width: 190px;
    height: 40px;
  }

  &__large {
    width: 418px;
    height: 44px;
    background: #00a3ff;
    box-shadow: 7px 7px 10px rgba(0, 163, 255, 0.2);
    color: #ffffff;
    letter-spacing: 0.05em;
    &:hover {
      font-family: robotobold;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      background: linear-gradient(90deg, #00a3ff 0%, #014ea8 100%);
      box-shadow: 7px 7px 10px rgba(0, 163, 255, 0.2);
    }
  }
}

/*Стили заголовков*/
.main-title {
  font-family: robotobold;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 110%;
  text-align: center;
  color: #000000;
  margin-top: 0;
  margin-bottom: 38px;
}

/*Телефон*/
.phone {
  font-family: robotobold;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.05em;
  position: relative;
  &::after {
    position: absolute;
    top: 1px;
    left: -30px;
  }
}

/*Стили шапки*/
.header {
  background-image: url("../images/header_bg.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /*Стили основного текста */

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 108px;
    color: #ffffff;
  }

  &__title {
    font-family: robotobold;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 110%;
    color: #ffffff;
    width: calc(100% / 2 + 69px);
    margin: 0 0 15px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 140%;
    margin: 0;
  }

  &__btn {
    font-size: 18px;
    background: #00a3ff;
    box-shadow: 0px 0px 15px rgba(0, 163, 255, 0.5);
    margin-top: 39px;
    margin-bottom: 115px;
    &:hover {
      background: linear-gradient(270deg, #014ea8 0%, #00a3ff 100%);
    }
  }

  &__scroll {
    background-image: url("../images/icon/icon_scroll_normal.png");
    background-repeat: no-repeat;
    background-size: inherit;
    width: 26px;
    height: 52px;
    align-self: center;
    margin-bottom: 34px;
    cursor: pointer;
    &:hover {
      background-image: url("../images/icon/icon_scroll_hover.png");
      background-repeat: no-repeat;
      background-size: inherit;
      width: 26px;
      height: 52px;
    }
  }
}

/*Стили навигации*/
.navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__phone {
    color: #00a3ff;
    margin-top: 13px;
    margin-bottom: 20px;
    &::after {
      content: url("../images/icon/header_phone.png");
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;

    &__item {
      margin: 0 8px;
    }
    &__link {
      font-family: robotobold;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 140%;
      text-transform: uppercase;
      color: #ffffff;
      text-decoration: none;
      transition: all 0.3s linear;

      &:hover {
        border-bottom: 4px solid #ffffff;
        padding-bottom: 4px;
      }
    }
  }

  &__action {
    width: 190px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 11px;
    margin-bottom: 12px;
  }

  &__social {
    display: flex;
    width: calc(100% / 2);
  }

  &__social a {
    margin-right: 8px;
    width: 17px;
    height: 17px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__lang a {
    font-family: robotoregular;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 140%;
    color: #ffffff;
    text-decoration: none;
    padding-right: 6px;
    border-right: 1px solid #ffffff;
    &:hover {
      font-family: robotobold;
      font-style: normal;
      font-weight: bold;
      color: #00a3ff;
    }
    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }

  &__btn {
    border: 1px solid #ffffff;
    background: transparent;
    font-size: 14px;
    transition: all 0.3s linear;
    &:hover {
      background-color: #ffffff;
      color: #37474f;
    }
  }
}

/*Стили блока Наши Услуги*/
.services {
  padding: 55px 0;
}

.top-card {
  display: flex;
  justify-content: space-between;

  .card {
    width: calc(100% / 2 - 10px);
  }
}

.card {
  display:flex;
  flex-direction: column;
  background-color: #ffffff;
border-radius: 5px;
}


/*Стили footer*/
.footer {
  background: #333333;
  padding-bottom: 35px;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__phone {
    color: #f2f2f2;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 30px;
    &::after {
      content: url("../images/icon/footer_phone.png");
    }
  }

  &__adress {
    font-size: 14px;
    line-height: 110%;
    color: #f2f2f2;
    margin: 0;
  }

  &__menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: calc(100% / 3 + 289px);
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
  }

  &__link {
    font-size: 14px;
    line-height: 140%;
    color: #f2f2f2;
    text-decoration: none;
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
    }
  }

&__logo {
  display: flex;
  flex-direction: column;
}

  &__copyright {
    align-self: flex-end;
    font-size: 12px;
    line-height: 110%;
    color: #828282;
    margin-top: 17px;
  }
}
